#root {
    font-family: 'Nunito Sans', sans-serif;
}

html {
  background-color: #f2f2f3;
}

.button {
  border: none;
  padding: 0;
  background: none;

}

.logo{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

#title {
    font-size: 7vw;
    
}

.userImage {
  border-radius: 50%;
  width: 5%;
  height: auto;
}

  @media screen and (max-width: 450px) {
    .navbar-toggler {
       width: 10px;
       margin-right: 5px;
    }
   .text {
    font-size: 15px;  
   }
   .userImage{
    width: 10%;
    
   }
  }


  .playlistButtonSection {
    background-color: #f2f2f3;
    border-top: 2px solid rgb(208, 208, 208);
  }

.playlistButton {
  background: rgb(10,99,18);
background: linear-gradient(0deg, rgba(10,99,18,1) 0%, rgba(33,37,41,1) 67%);
}


.search {
  background: rgb(10,99,18);
background: linear-gradient(0deg, rgba(10,99,18,1) 0%, rgba(33,37,41,1) 67%);
}

.loginPage {
  background: rgb(10,99,18);
background: linear-gradient(0deg, rgba(10,99,18,1) 0%, rgba(33,37,41,1) 67%);
height: 85vh;
}

.loginText {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
}
