#root {
    font-family: 'Nunito Sans', sans-serif;
}

html {
  background-color: #f2f2f3;
}

.button {
  border: none;
  padding: 0;
  background: none;

}

.logo{
    width: 40px;
    height: auto;
    margin-right: 10px;
}

#title {
    font-size: 7vw;
    
}

.userImage {
  border-radius: 50%;
  width: 5%;
  height: auto;
}

.connectButton {
  width: 35%
}

  @media screen and (max-width: 450px) {
    .navbar-toggler {
       width: 10px;
       margin-right: 5px;
    }
   .text {
    font-size: 15px;  
   }
   .userImage{
    width: 10%;
   }
   .connectButton {
    width: 80%;
   }
  }



  .playlistButtonSection {
    background-color: #f2f2f3;
    border-top: 2px solid rgb(208, 208, 208);
  }

.playlistButton {
  background: rgb(10,99,18);
background: linear-gradient(0deg, rgba(10,99,18,1) 0%, rgba(33,37,41,1) 67%);
}


.search {
  background: rgb(14,136,25);
  background: linear-gradient(0deg, rgba(14,136,25,0.5184991232821253) 0%, rgba(33,37,41,1) 92%);
}



.loginText {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}



.loginButton {
  
    background-color: #67b02e;
    border-radius: 10px;
    border: none;
    color: white;
    opacity: 80%;
    padding: 10px;
    
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;

  
  
  
}

